# copy .env.example .env  then generate a key with `npm run genkey` and write it below
# THIS FILE'S The environment copy is NEVER COMMITTED

# The key that deploys the contract and takes ownership
# Must be different from validator node keys
DEPLOYER_PRIVATE_KEY=

# Inside container http://validator1:8545
# Inside Host      http://127.0.0.1:9545
RPC_URL=http://validator1:8545